<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "url": "https://loquesearosarito.com/",
      "image": [
          "https://realtylegal.com.mx/assets/img/favicon/og-image.png"
        ],
      "@id": "https://loquesearosarito.com/",
      "name": "Lo Que Sea - Food Truck",
      "sameAs" : [
          "https://www.facebook.com/loquesearosarito/ ",
          "https://www.instagram.com/loquesea.foodtruck/",
          "https://www.youtube.com/channel/UCWexmtM12ZHXjHvuQAxeXsQ",
          "https://twitter.com/CentroRosarito",
          "https://goo.gl/maps/fbwXcpQ5jdckxXkDA",
          "https://g.page/r/CV-rx_ksEe0nEAE",
          "https://www.linkedin.com/in/rosaritocentro/"
          ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Carretera Transpeninsular 41707 - KM 40.5",
        "addressLocality": "Playas de Rosarito",
        "addressRegion": "Baja California",
        "postalCode": "22740",
        "addressCountry": "MX"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 32.363753,
        "longitude": -117.055092
      },
      "url": "https://wa.me/+5216611286663?text=I%20would%20like%20to%20get%20a%20coute!",
      "telephone": "+5216611286663",
      "priceRange": "$$"
      ,"openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Thursday",
            "Friday"
          ],
          "opens": "10:00",
          "closes": "17:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Saturday",
            "Sunday",
            
          ],
          "opens": "10:00",
          "closes": "17:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "08:00",
          "closes": "14:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          
        ],

          "opens": "closed",
          "closes": "closed"
        }
       ]          
    }
</script>