<footer class="mastfoot pb-5 bg-white section-padding pb-0">
    <div class="inner container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-widget pr-lg-5 pr-0">
                    <h4>About Lo Que Sea</h4>
                    <!--img src="img/loquesea.png" class="img-fluid footer-logo mb-3" alt=""-->
                    <p>
                        Lo que sea  we are a FoodTruck with Italian Deli sandwiches in Rosarito!
                        We are very happy to be part of this beautiful community. We are here to serve Breakfast, Sandwiches, Drinks and Desserts.  
                        </p>
                    {% include socials.html %}       
                </div>

            </div>
            <div class="col-lg-4">
                <div class="footer-widget px-lg-5 px-0">
                    <h4>Nuestro horario</h4>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex justify-content-between"><span>Monday</span><span>CLOSED</span>
                        </li>
                        <li class="d-flex justify-content-between"><span>Tuesday</span><span>CLOSED</span>
                        </li>
                        <li class="d-flex justify-content-between"><span>Wednesday</span><span>CLOSED
                                </span></li>
                        <li class="d-flex justify-content-between"><span>Thursday</span><span>10:00 -
                               17:00</span></li>
                        <li class="d-flex justify-content-between"><span>Friday</span><span>10:00 - 17:00</span>
                        </li>
                        <li class="d-flex justify-content-between"><span>Saturday</span><span>10:00 -
                                17:00</span></li>
                        <li class="d-flex justify-content-between"><span>Sunday</span><span>10:00 - 17:00</span></li>
                    </ul>
                </div>

            </div>
                
                    <div class="col-lg-4">
                        <div class="footer-widget pr-lg-5 pr-0">
                            <h4>Address</h4>
                            <!--img src="img/loquesea.png" class="img-fluid footer-logo mb-3" alt=""-->
                            <p>
                                <a href="https://goo.gl/maps/X2Vro8XdP9d7jPGJ6">Carretera Transpeninsular 41707 - KM 40.5 22740
                                    Rosarito, Peninsula de Baja California, Mexico. </a> 
                            </p>
                             
                            
                            <p>
                                Call us:
                                <a href="tel:+52 1 661 128 6663"> +52 1 661 128 6663</a>
                            </p>

                            <p>
                                Email:
                                <a href="mailto:loqueseafoodtruck21@gmail.com"> loqueseafoodtruck21@gmail.com</a>
                            </p>
                                  
                        </div>
        
                    </div>
              
                  <!--div class="col-lg-4">
                <div class="footer-widget pl-lg-5 pl-0">
                    <h4>Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <form id="newsletter">
                        <div class="form-group">
                            <input type="email" class="form-control" id="emailNewsletter"
                                aria-describedby="emailNewsletter" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div-->

            </div>
            <div class="col-md-12 d-flex align-items-center">
                <p class="mx-auto text-center mb-0">Lo que Sea Copyright 2022. All Right Reserved. Design by <a
                        href="https://rosaritocentro.com" target="_blank">Rosarito Centro</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>