<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            <!--Especialidades-->
                        </span>
                        <h2>
                            Our Menu
                        </h2>
                        <!--img src="img/loqueseamenu1.jpg" alt class="img-fluid"-->
                        
                        <!--img src="img/loqueseamenu2.jpg" alt class="img-fluid"-->
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Breakfast</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4> Bagel</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$6.50</h4>
                                </div>
                            </div>
                            <p>Bagel, Egg, American Cheese, Bacon, Sprouts, Tomato, Onions, Bell Peppers, Dijon, Mayonnaise.</p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Sunrise Bagel</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$5.50</h4>
                                </div>
                            </div>
                            <p>Bagel, Ham, Bacon, Egg, American Cheese, Mayonnaise, Dijon.</p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Croissant</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$6.50</h4>
                                </div>
                            </div>
                            <p>Croissant, Egg, American Cheese, Bacon, Sprouts, Tomato, Onion, Bell Pepper, Mayonnaise, Dijon.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Sandwiches</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>House Special</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$7.99 </h4>
                                </div>
                            </div>
                            <p>Baguette, Pepperoni, Mozzarella Cheese, Lettuce, Tomato, Onions, Bell Peper, Sprouts, Black Olives, House Dressing, Mayonnaise, Dijon.
                                (All sandwiches come with salad of the day)
                            </p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Club Sandwich</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$6.99</h4>
                                </div>
                            </div>
                            <p>Multigrain, Ham, Turkey, Bacon, American Cheese, Lettuce, Tomato, Onion, Bell Pepper, Sprouts, Dijon, Mayonnaise.
                                (All sandwiches come with salad of the day) </p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>The Good Father</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$7.99</h4>
                                </div>
                            </div>
                            <p>Baguette, Marinera Sauce, Meat Balls, Mozzarella, Parmesan Cheese
                                (All sandwiches come with salad of the day)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Sandwiches</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>El Italian</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$7.99</h4>
                                </div>
                            </div>
                            <p>Baguette, Italian Sausage, Mozzarella, Parmesan Cheese.
                                (All sandwiches come with salad of the day)
                            </p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Wicked Tuna</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$6.99</h4>
                                </div>
                            </div>
                            <p>Tuna, Multigrain, Cream Cheese, Chipotle, Lettuce, Tomato, Onions, Sprouts, Bell Pepper, Avocado, Mayonnaise.
                                (All sandwiches come with salad of the day)
                            </p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>The Veggie</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$6.99</h4>
                                </div>
                            </div>
                            <p>Multigrain, Panela Cheese, Lettuce, Tomato, Sprouts, Bell Peppers, Avocado, Onions, Dijon, Mayonnaise.
                                (All sandwiches come with salad of the day)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Allday Drinks</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>American Coffe</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$2.00</h4>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4> Smoothies</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$4.99</h4>
                                </div>
                            </div>
                            <p>Strawberry, Tropical, Mango (16 Oz)</p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Frappes</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$4.99</h4>
                                </div>
                            </div>
                            <p>Oreo, Vainilla, Chai Tea, Mocha, Caramel (16Oz)</p>
                        </div>
                    </div>
                    <!--div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="img/breakfast-1.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Sodas</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$2.00</h4>
                                </div>
                            </div>
                            <p>Coca-Cola</p>
                        </div>
                    </div-->
                </div>
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Beverages Drinks</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Italian Sodas</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3.00 </h4>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="img/breakfast-1.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>American Coffe</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$2.00</h4>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div-->
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Sodas</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$2.00</h4>
                                </div>
                            </div>
                            <p>Sprite / Coca-Cola</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">Desserts</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Bagel</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$2.99</h4>
                                </div>
                            </div>
                            <p>Cream cheese and jalapeño jam</p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Biscotti</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$2.99</h4>
                                </div>
                            </div>
                            <p>Home Made (2pcs)</p>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <!--img class="img-fluid" src="img/breakfast-1.jpg" alt=""-->
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>Dessert of the day</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">$3.50 or $4.99</h4>
                                </div>
                            </div>
                            <p>Ask for the dessert of the day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

