<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay"
    style="background-image: url(img/jugo.jpg);">
    <div class="container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3374.059094356086!2d-116.97040838452844!3d32.25649221764962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9251c4fd8f9db%3A0x57ed974de8336fca!2sLo%20Que%20Sea%20Food%20truck!5e0!3m2!1sen!2smx!4v1649705344433!5m2!1sen!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</section>