<div class="sbuttons">

    <a href="https://api.whatsapp.com/send?text=Know%20Us%20https://loquesearosarito.com" target="_blank"
        class="sbutton whatsapp" tooltip="WhatsApp"><i class="fab fa-whatsapp"></i></a>

    <a href="https://www.facebook.com/sharer/sharer.php?u=https://loquesearosarito.com&text=Know%20Us!"
        target="_blank" class="sbutton fb" tooltip="Facebook"><i class="fab fa-facebook-f"></i></a>

    <a href="https://www.linkedin.com/shareArticle?url=https://loquesearosarito.com&text=Know%20Us!" target="_blank"
        class="sbutton linkedin" tooltip="LinkedIn"><i class="fab fa-linkedin"></i></a>

    <a href="https://twitter.com/share?url=https://loquesearosarito.com&text=Know%20Us!" target="_blank"
        class="sbutton twitt" tooltip="Twitter"><i class="fab fa-twitter"></i></a>

    <!--a href="http://pinterest.com/pin/create/button/?url=https://bajanet.mx/" target="_blank" class="sbutton pinteres"
        tooltip="Pinterest"><i class="bx bxl-pinterest"></i></a-->

    <a href="https://t.me/share/url?url=Know%20Us!https://loquesearosarito.com/" target="_blank" class="sbutton telegram"
        tooltip="Telegram"><i class="fab fa-telegram"></i></a>

    <a href="mailto:?subject=Lo que Sea Food Truck&body=Know Us%20https://loquesearosarito.com/" target="_blank" class="sbutton email"
        tooltip="Email"><i class="fas fa-mail-bulk"></i></a>

    <a target="_blank" class="sbutton mainsbutton" tooltip="Share"><i class="fas fa-share-alt"></i></a>

</div>