<section id="gtco-testimonial" class="overlay bg-fixed section-padding"
    style="background-image: url(img/testi-bg.jpg);">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    <!--Testimony-->
                </span>
                <h2>
                    Testimony
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel">
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Todo preparado con amor! 💗
                            Ingredientes frescos, buen servicio, limpio y con ambiente familiar. Súper recomendado</p>
                        <p class="testi-author">Supertunia Royal Velvet</p>
                        <!--p class="testi-desc">CEO of <span>GetTemplates</span></p-->
                    </div>
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">The best sandwiches in the world , great service, delicious drinks and awesome homemade  pastries! Love everything ❤️❤️❤️
                            Comida de calidad - Cocina creativa
                            </p>
                        <p class="testi-author">Musicana Love Artspace</p>
                        <!--p class="testi-desc">CTO of <span>Unidentity Inc</span></p-->
                    </div>
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Thank you for making our Aniversary, extra specíal with amaziny •sandwiches! They were A big hit with our guests 
                            Thank you!
                            </p>
                        <p class="testi-author">Mujeres para Mujeres</p>
                        <!--p class="testi-desc">CTO of <span>Unidentity Inc</span></p-->
                    </div>
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">The Best of luck, love the paint job.
                            </p>
                        <p class="testi-author">Craig klein</p>
                        <p class="testi-desc">From <span>Rosarito Living</span></p>
                    </div>
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Muy rica la comida excelente servicio y atenciones felicidades en este nuevo proyecto mucho éxito
                            </p>
                        <p class="testi-author">David & Joe A</p>
                        <!--p class="testi-desc">CTO of <span>Unidentity Inc</span></p-->
                    </div>
                </div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>