<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    {%- feed_meta -%}
    {% include styles.html %}
    {% include google-analitycs.html %}
    {% include datos.html %}
</head>


<body data-spy="scroll" data-target="#navbar" class="static-layout">



    <div id="canvas-overlay"></div>
    <div class="boxed-page">

         {{content}}

    </div>

    {% include scrips.html %}

</body>

{% include social-share.html %}

</html>